<footer class="container" role="contentinfo" style="padding: 3em 0 5em 0;">
  <div class="row grid grid--full lg-grid--fit">
    <div class="cell">
      <div class="grid">
        <div class="cell mtom">
          <b>Der Verein</b>
          <a href="{{ site.baseurl }}/mitgliedschaft/" title="Füllen Sie unser online Formular aus!">Mitglied werden</a>
          <a href="{{ site.baseurl }}/aktuelles/" title="Aktuelle Veranstaltungen">Ankündigungen</a>
          <a href="{{ site.baseurl }}/reminiszenzen/" title="Berichte vergangener Veranstaltungen">Berichte</a>
          <a href="{{ site.baseurl }}/about/" title="Vorstand und Referenten">Personalia</a>
          <a href="{{ site.baseurl }}/rechtliches/datenschutz.html">Datenschutz</a>
          <a href="{{ site.baseurl }}/rechtliches/impressum.html">Impressum</a>
          <a href="{{ site.baseurl }}/rechtliches/EVTA-Austria-Statuten_2015.pdf">Statuten</a>
        </div>
        <div class="cell mtom">
          <b><i>vox humana</i></b>
          <a href="{{ site.baseurl }}/vox-humana/" title="vox humana - Fachzeitschrift für Gesangspädagogen">Die Zeitschrift</a>
          <a href="{{ site.baseurl }}/vox-humana/abobestellung.html" title="Ein vox humana Abonnement bestellen">Abonnement</a>
          <a href="mailto:office@evta.at" title="Eine Anzeige in der vox humana bestellen">Anzeige</a>
          <a href="mailto:redaktion@evta.at" title="Redaktion kontaktieren">Fachartikel</a>
        </div>
        <div class="cell mtom">
          <b>Vernetzung</b>
          <a href="{{ site.baseurl }}/dachverband/" title="European Voice Teachers Association">Dachverband</a>
          <a href="https://www.mdw.ac.at/inst9/" title="Universität für Musik und darstellende Kunst Wien">mdw</a>
          <a href="{{ site.baseurl }}/links/" title="Links zu einschlägigen Institutionen">Links</a>
        </div>
      </div>
    </div>
    <div class="cell">
      <div class="mtom">
        <p class="c-grey">
          <span class="c-white">EVTA-Austria (Bund Österreichischer Gesangspädagogen)</span><br>
          Member of the European Voice Teachers Association<br>
          z. Hd. ao.Univ.-Prof. Martin Vácha, PhD<br>
          c/o Universität für Musik und darstellende Kunst<br>
          Institut für Gesang und Musiktheater<br>
          Penzingerstraße 7<br>
          1140 Wien<br>
          E-Mail: <a href="mailto:office@evta.at" style="display: inline;">office@evta.at</a>
        </p>
        <p class="c-grey">
          <span class="c-white">Bankverbindung</span><br>
          lautend auf<br>
          <span class="t-small-caps">EVTA-Austria/Bund Österreichischer Gesangspädagogen</span><br>
          Bank: BAWAG, BLZ: 14000, Kontonr.: 01510665593<br>
          IBAN: AT141400001510665593, BIC: BAWAATWW
        </p>          
      </div>
    </div>
  </div>
  <div class="row">
    <p class="copy">
      &copy; 2002 – <script>document.write((new Date()).getFullYear())</script> EVTA-Austria.
    </p>
    <p class="c-dark-grey">
      Inhalt und Werke dieser Website sind urheberrechtlich geschützt. Trotz höchster Sorgfalt kann nicht für die Richtigkeit der wiedergegebenen Informationen oder die permanente technische Erreichbarkeit garantiert werden. Es wird keine Haftung für den Inhalt von extern verlinkten Websites übernommen. Auf deren Inhalte haben wir keinen Einfluss und distanzieren uns ausdrücklich. Sollten Sie dennoch etwas an unseren Seiten zu beanstanden haben, bitten wir um einen einfachen entsprechenden Hinweis, damit wir die Inhalte schnellstmöglich entfernen können.
    </p>
    <p class="c-grey">
      Website handgefertigt mit <img draggable="false" class="emoji" alt="❤" src="{{ site.baseurl }}/assets/2764.svg"> und Hirn von <a class="c-grey" href="https://michaelgerzabek.com/passagen/deine-website-super-schnell-von-suchmaschinen-geliebt-und-wartungsfrei/">Michael Gerzabek</a>
    </p>
  </div>
</footer>