<div class="bss-slides show">
  <figure>
    <img src="01.jpg" width="100%" />
    <figcaption>„<i>Palais Garnier, Paris</i>“ von <a href="https://pixabay.com/de/users/MustangJoe-2162920/">MustangJoe</a> <a href="https://pixabay.com/de/service/terms/#usage">CC0</a></figcaption> 
  </figure>
  <figure>
    <img src="02.jpg" width="100%" />
    <figcaption>„<i>Szenenphoto aus dem Barbier von Sevilla</i>“ von <a href="https://pixabay.com/de/users/WikimediaImages-1185597/">WikimediaImages</a> <a href="https://pixabay.com/de/service/terms/#usage">CC0</a></figcaption> 
  </figure>
  <figure>
    <img src="03.jpg" width="100%" />
    <figcaption>„<i>Billy Ray Cyrus mit Miley Cyrus</i>“ von <a href="">Pixabay User 12019</a> <a href="https://pixabay.com/de/service/terms/#usage">CC0</a></figcaption> 
  </figure>
  <figure>
    <img src="04.jpg" width="100%" />
    <figcaption>„<i>Hört ihr mich!?</i>“ von <a href="https://pixabay.com/de/users/Free-Photos-242387/">Free-Photos</a> <a href="https://pixabay.com/de/service/terms/#usage">CC0</a></figcaption> 
  </figure>
  <figure>
    <img src="05.jpg" width="100%" />
    <figcaption>„<i>Katherin Jenkins mit Wallisischem Knabenchor</i>“ von <a href="https://pixabay.com/de/users/RonPorter-291009/">Ron Porter</a> <a href="https://pixabay.com/de/service/terms/#usage">CC0</a></figcaption> 
  </figure>
  <figure>
    <img src="06.jpg" width="100%" />
    <figcaption>„<i>Maria Bayo mit Orchester</i>“ von <a href="https://pixabay.com/de/users/WikimediaImages-1185597/">WikimediaImages</a> <a href="https://pixabay.com/de/service/terms/#usage">CC0</a></figcaption> 
  </figure>
  <figure>
    <img src="07.jpg" width="100%" />
    <figcaption>„<i>Shubi-du-wap</i>“ von <a href="https://pxhere.com">pxhere</a> <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0</a></figcaption>
  </figure>
  <figure>
    <img src="08.jpg" width="100%" />
    <figcaption>„<i>Alena Romanova</i>“<a href="https://pixabay.com/de/users/ChadoNihi-634818/">Alexandr</a> <a href="https://pixabay.com/de/service/terms/#usage">CC0</a></figcaption> 
  </figure>
  <figure>
    <img src="09.jpg" width="100%" />
    <figcaption>„<i>Lied mit Gitarre</i>“<a href="https://pixabay.com/de/users/agnessatalalaev0-1268070/">agnessatalalaev0</a> <a href="https://pixabay.com/de/service/terms/#usage">CC0</a></figcaption> 
  </figure>
  <figure>
    <img src="10.jpg" width="100%" />
    <figcaption>„<i>On the Show</i>“ von <a href="https://pixabay.com/de/users/Tomasz_Mikolajczyk-106840/">Tomasz Mikołajczyk</a> <a href="https://pixabay.com/de/service/terms/#usage">CC0</a></figcaption> 
  </figure>
</div>
<script src="/assets/js/slideshow.js"></script>
<script>
  var opts = {
    auto : { 
      speed : 3000, 
      pauseOnHover : true 
    },
    fullScreen : false, 
    swipe : false
  };
  makeBSS( '.show', opts );
</script>
