--- 
layout: page 
title: Reminiszenzen
kicker: Zeitleiste zu Veranstaltungen in der Vergangenheit 
description: ""
breadcrumb: Reminiszenzen
---
<ul class="timeline">
  {% for veranstaltung in site.data.veranstaltungen %}
    <li>
      <div class="{% cycle 'direction-r', 'direction-l' %}">
        <div class="flag-wrapper">
          <span class="flag">{{ veranstaltung.format.title }}</span>
          <span class="time-wrapper"><span class="time">{{ veranstaltung.zeit }}</span></span>
        </div>
        <div class="desc">
          <strong>{{ veranstaltung.title }}</strong><br>
          {% if veranstaltung.format.subtitle %}{{ veranstaltung.format.subtitle }}, {% endif %}{{ veranstaltung.ort }}.
          {% if veranstaltung.download %} 
            <p>
              {{ veranstaltung.download.text }} <a href="{{ site.baseurl }}/reminiszenzen/{{ veranstaltung.download.type }}e/{{ veranstaltung.download.url }}" download><i class="fa fa-eye" aria-hidden="true" title="lesen"></i></a> <a href="{{ site.baseurl }}/reminiszenzen/{{ veranstaltung.download.type }}e/{{ veranstaltung.download.url }}" download><i class="fa fa-download" aria-hidden="true" title="herunterladen"></i></a>
            </p>
          {% endif %}
          {% if veranstaltung.content %}
            {{ veranstaltung.content }}
          {% endif %}
        </div>
      </div>
    </li>    
  {% endfor %}
</ul>
